<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLDSV_1.Properties.Settings.QLDSV_server03_sa" connectionString="Data Source=TK13\SERVER03;Initial Catalog=QLDSV;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="QLDSV_1.Properties.Settings.QLDSV_server01_sa" connectionString="Data Source=TK13\SERVER01;Initial Catalog=QLDSV;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="QLDSV_1.Properties.Settings.QLDSV_server00" connectionString="Data Source=TK13\SERVER00;Initial Catalog=QLDSV;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
